.container-fluid{
    margin-bottom: 2rem;
    width: 90%;
}

.top-banner{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #ff136f;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    cursor: pointer;
    border:none
}

.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
}

.cat-1{
    background-color: orange;
    background-image: linear-gradient(to bottom right, #ff9c35, #ffd019);
}

.cat-2{
    background-color: orchid;
    background-image: linear-gradient(to bottom right, #ff5398, #ff1872);
}

.cat-3{
    background-color: blue;
    background-image: linear-gradient(to bottom right, #4289ff, #3f07f8);
}

.row h1{
    color: white;
    font-size: 40px;
}

.categories img{
    width: 100px;
}

.categories .row{
    margin-top: 2rem;;
}